#bodyHeader {
  height: 50px !important;
  margin: 0 !important;
}
#profile-body > ul > li > div > a {
  line-height: 30px !important;
}
#profile-body > ul {
  margin: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}
#profile-head > span {
  padding-top: 10px !important;
  margin-bottom: 0 !important;
}
#profile-head > a {
  padding-top: 10px !important;
}
#root, #root > div, #root > div > div {
  height: 100% !important;
}
#body {
  height: calc(100% - 66px) !important;
  margin-bottom: 0 !important;
  position: relative;
}
#bodyLeft > .row > div > .card {
  margin-bottom: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#bodyLeft > .row > div > .card > .card-content {
  padding: 0 !important;
}
#bodyLeft > .row > div > .card > div > ul {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#bodyLeft > .row > div {
  padding: 0 !important;
}
#edit {
  border: none !important;
}
#selectedUser, #selectedProject {
  padding: 24px !important;
}
#bodyLeft {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: calc(100% - 60px) !important;
}
#createBtn {
  margin-top: 13px !important;
  font-size: 24px !important;
}
#notification {
  box-shadow: none !important;
}
#notification > li, #directory > li > div, #groups > li > div, collapsible-body > span > li {
  padding: 10px !important;
}
#bodyCreate {
  padding: 0 !important;
  padding-right: 0 !important;
  margin-top: 0 !important;
  height: 66px !important;
  line-height: 62px !important;
}
#directory, #groups {
  padding: 0 !important;
  height: 100% !important;
}
#bodyRight {
  max-height: calc(100% - 60px) !important;
  border: none !important;
  margin-top: 10px !important;
  overflow-y: auto !important;
}
#bodyRight > li {
  margin-bottom: 0px !important;
  border: 1px solid #e0e0e0 !important;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 1px 0 rgba(0,0,0,0.12), 0 3px 0px -2px rgba(0,0,0,0.2) !important;
  cursor: pointer;
}
#bodyRight > li > div > div > .col {
  height: 22px !important;
  padding: 0 !important;
}
#directory, #groups {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  max-height: calc(100% - 66px) !important;
  background-color: white !important;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
  border-right: none !important;
}

#bodyLeft > .card {
  border: none !important;
}

.userCard {
  height: 250px !important;
}
.userCard > .card-content {
  height: 175px !important;
}
.userCard > .card-content > .card-title {
  font-size: 18px !important;
}
.userCard > .card-content > ul {
  border: none !important;
}
.userCard > .card-content > ul > li{
  height: 50px !important;
  min-height: 50px !important;
  border: none !important;
}
.userCard > .card-content > ul > li > i{
  top: 5px !important;
  left: 0 !important;
}
.projectSelected, .userSelected {
  background-color: orange !important;
  color: white !important;
}
.folderSelected, .groupSelected {
  background-color: #e1e3e8 !important;
}
.folderSelected > i, .groupSelected > i {
  color: orange !important;
}
