#login, #approve {
  height: 100%;
  width: 100%;
}
#approve > div {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 50px !important;
  height: auto;
  width: 700px;
  border-radius: 3px;
}
#login > div {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 50px !important;
  height: auto;
  width: 700px;
  border-radius: 3px;
}
#loginHeader {
  margin-top: 0 !important;
}
#login > div > div {
  height: 100% !important;
  padding: 0 !important;
}
#login > div > div > .card {
  height: 100% !important;
  margin: 0 !important;
}
