html{
  height: 100% !important;
  background-color:  #f2f2f2 !important;
}
body {
  height: 100% !important;
}
i {
  cursor: pointer !important;
  color: #585858 !important;
}
img {
  padding-top: 10px !important;
}
a {
  height: auto !important;
}
#approve > div {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 50px !important;
  height: auto;
  width: 700px;
  border-radius: 3px;
}
#login, #approve {
  height: 100%;
  width: 100%;
}
#login > div {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 50px !important;
  height: auto;
  width: 700px;
  background-color: #585858;
  border-radius: 3px;
}
#loginHeader {
  margin-top: 0 !important;
}
#login > div > div {
  height: 100% !important;
  padding: 0 !important;
}
#login > div > div > .card {
  height: 100% !important;
  margin: 0 !important;
}
.determinate {
  transition: width 0s !important;
}
#playerVideoHeaderMenu > div > div {
  height: 45px !important;
}
#playerVideoHeaderMenu > div > div {
  padding-left: 0 !important;
}
#playerVideoHeaderMenu > div > div > p {
  margin: 0 !important;
}
#playerVideoHeaderMenu > div > div > i {
  line-height: 1.3 !important;
  font-size: 35px !important;
}
#codeInput {
  height: calc(100% - 22.5px) !important;
}
.controlBtn {
  height: 55px !important;
  line-height: 55px !important;
}
.materialize-textarea {
  margin: 0 !important;
}
.btn {
  background-color: orange !important;
}
.localOff {
  color: grey !important;
}
.localOn > i {
  color: #5E7CE2 !important;
}
.iconSelected {
  color: orange !important;
}
#inviteFriends > div > ul > li > div > a > p{
  margin: 0 !important;
}
.collapsible-header > a {
  position: absolute !important;
  right: 0 !important;
}
#bodyRight > li > a {

}
#bodyHeader {
  height: 50px !important;
  margin: 0 !important;
}
#inviteFriends {
  margin: 0 !important;
  border-left: 1px solid grey !important;
}
ul {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}
.collapsible-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#playerCopy  {
  margin: 0 !important;
  padding: 0 !important;
}
#playerCopy > .s2 {
  margin: 0 !important;
  padding: 0 !important;
}
#playerCopy > button {
margin: 0 !important;
padding: 0 !important;
position: absolute !important;
width: 100% !important;
}
#playerLoad {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1000 !important;
  background-color: white !important;
}
#playerFilter {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  z-index: 12 !important;
  margin: 0 !important;
}
#playerFilter > .row > input {
  margin: 0 !important;
}
#playerFilter > .row > i {
  line-height: 1.5 !important;
  font-size: 36px !important;
}
#playerFilter > .row > div > i {
  line-height: 1.5 !important;
  font-size: 30px !important;
}
#playerFilter > .row {
  margin: 0 !important;
}
#playerList {
  margin: 0 !important;
  overflow-y: auto !important;
  max-height: calc(100% - 100px) !important;
  background-color:  #f2f2f2 !important;
}
#playerList > li {
  padding-right: 0 !important;
  background-color:  #f2f2f2 !important;
}
#playerList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.selectedHighlight {
  background-color: orange !important;
  color: white !important;
}
#profile-body > ul > li > div > a {
  line-height: 30px !important;
}
#profile-body > ul {
  margin: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}
#profile-head > span {
  padding-top: 10px !important;
  margin-bottom: 0 !important;
}
#profile-head > a {
  padding-top: 10px !important;
}
#playerEdit > .row {
  margin: 0 !important;
}
#playerEdit > textarea {
  height: auto;
}
#playerLeft {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0 !important;
}
#playerRight {
  right: 0;
  position: absolute;
  height: 100%;
  padding: 0 !important;
}
#playerRight > .row {
  margin: 0 !important;
  height: 100% !important;
}
#playerRight > .row > div {
  padding: 0 !important;
  height: 100% !important;
}
#playerRight > .row > div > .card {
  margin: 0 !important;
  height: 100% !important;
}
#playerRight > .row > div > .card > .card-content {
  padding: 0 !important;
  height: calc(100% - 100px) !important;
}
#playerRight > .row > div > .card > .card-action {
  padding: 0 !important;
  height: 100px !important;
    bottom: 0 !important;
}
#playerEdit {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 !important;
  margin: 0 !important;
  height: 100px !important;
}
#playerControls {
  position: absolute;
  bottom: 0;
  height: 70px;
  margin: 0 !important;
  width: 100% !important;
}
#playerControls > .row {
  padding: 0 !important;
}
#playerVideoHeader {
  height: 45px !important;
}
#playerVideoHeader > div {
  padding: 0 !important;
  cursor: pointer !important;
}
#playerVideoHeader > div > ul > li > a {
  height: 45px !important;
  line-height: 45px !important;
}
.indicator {
  background-color: transparent !important;
}
#numNotif {
  position: absolute !important;
  width: 15px !important;
  top: 0 !important;
  color: orange !important;
  right: 3% !important;
  z-index: 1000 !important;
  background-color: transparent !important;
  cursor: pointer !important;
}
.tab > .active {
  background-color: orange !important;
  color: white !important;
}
.row {
  margin: 0 !important;
}
.playList {
  color: #5E7CE2 !important;
}
#playerControls > a > i {
  line-height: 1;
  font-size: 38px !important;
}

.progress {
  margin: 0 !important;
  height: 15px !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  cursor: pointer !important;
}
.player {
  position: absolute !important;
  top: 45px !important;
  left: 0;
  height: calc(100% - 115px) !important;
  width: 100% !important;
}
#root > div {
  height: 100% !important;
}
#root > div > div {
  height: 100% !important;
}
#body {
  height: auto !important;
  height: calc(100% - 76px) !important;
  margin-bottom: 0 !important;
  position: relative;
}
#bodyLeft > .row > div > .card {
  margin-bottom: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#bodyLeft > .row > div > .card > .card-content {
  padding: 0 !important;
}
.collapsible-header, ul > li > .collapsible-header, li > .collapsible-header  {
  background-color: transparent;
}
#bodyLeft > .row > div > .card > div > ul {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#bodyLeft > .row > div {
  padding: 0 !important;
}
#edit {
  border: none !important;
}
#selectedUser, #selectedProject {
  padding: 24px !important;

}
#search, #menu {
  background-color: white !important;
}
#clearSearch {
  height: 66px !important;
}
#clearSearch > a > i {
  line-height: 66px !important;
  font-size: 34px !important;
  color: orange !important;
}
#clearSearch > .row > a {
  left: -20px !important;
}
#clearSearch > .row {
  height: 100% !important;
  line-height: 80px !important;
}
#clearSearch > .row > a > i {
  font-size: 30px !important;
}
#bodyLeft {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100% !important;
}
#createBtn {
  margin-top: 13px !important;
  font-size: 24px !important;
}
#notification {
  box-shadow: none !important;
}
#notification > li, #directory > li > div, #groups > li > div, collapsible-body > span > li {
  padding: 10px !important;
}
#bodyCreate {
  padding: 0 !important;
  padding-right: 0 !important;
  margin-top: 0 !important;
  height: 66px !important;
  line-height: 62px !important;
}
#directory, #groups {
  padding: 0 !important;
  height: 100% !important;
}
#bodyRight {
  border: none !important;
  margin-top: 10px !important;
}
#bodyRight > li {
  margin-bottom: 0px !important;
  border: 1px solid #e0e0e0 !important;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 1px 0 rgba(0,0,0,0.12), 0 3px 0px -2px rgba(0,0,0,0.2) !important;
  cursor: pointer;
}
#bodyRight > li > div > div > .col {
  height: 22px !important;
  padding: 0 !important;
}
#dropdown2 {
  top: 55px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}
#dropdown2 > li {
  background-color: none !important;
}
#dropdown2 > li > a {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#dropdown2 > li > a > i {
  margin: 0 !important;
}
#directory, #groups {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  max-height: calc(100% - 66px) !important;
  background-color: white !important;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
  border-right: none !important;
}
#root{
  height: 100% !important;
  bottom: 0 !important;
}
#header {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 0 !important;
  z-index: 20 !important;
}
#bodyLeft > .card {
  border: none !important;
}
#menu {
  padding: 0 !important;
}
#search {
  padding-left: 0 !important;
}
#searchOption{
  height: 66px !important;
  line-height: 62px !important;
}
#searchField {
  padding-left: 0 !important;
}
#searchField > input {
  margin: 10px !important;
  padding-left: 10px !important;
  border: none !important;
  border-radius: 5px;
  background-color: #f2f2f2 !important;
  color: black !important;
}
#searchField > input:focus {
  border-bottom: none !important;
  box-shadow: 0 0 0 0 red !important
}
.fixed-action-btn {
  position: absolute !important;
  bottom: auto !important;
  right: auto !important;
}
.userCard {
  height: 250px !important;
}
.userCard > .card-content {
  height: 175px !important;
}
.userCard > .card-content > .card-title {
  font-size: 18px !important;
}
.userCard > .card-content > ul {
  border: none !important;
}
.userCard > .card-content > ul > li{
  height: 50px !important;
  min-height: 50px !important;
  border: none !important;
}
.userCard > .card-content > ul > li > i{
  top: 5px !important;
  left: 0 !important;
}
.tabs {
  height: 66px !important;
}
.tab {
  line-height: 90px !important;
}
.tabs > li{
  height: 66px !important;
}
.tabs > li > i {
  font-size: 34px !important;
}
.modal {
  width: 50% !important;
  max-height: 90% !important;
}
.modal > .modal-footer {
  padding: 24px !important;
  height: auto !important;
}
.modal-content {
  padding-bottom: 0 !important;
}
.modal-content > .row {
  margin-bottom: 0 !important;
}
.collapsible-header {
  border-bottom: 0 !important;
}
.collapsible-body {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 10px !important;
  border-bottom: 0 !important;
}

.tabSelected > i {
  color: orange !important;
}
.projectSelected, .userSelected {
  background-color: orange !important;
  color: white !important;
}
.folderSelected, .groupSelected {
  background-color: #e1e3e8 !important;
}
.folderSelected > i, .groupSelected > i {
  color: orange !important;
}
.card {
  cursor: pointer !important;
  margin-top: 10px !important;
}
.invisible{
  display: none !important;
}
