/* Your styles here */
html, body {
  height: 100%;
}
td, th {
  padding: 0 !important;
}
textarea {
    resize: none;
}
#cover {
  position: absolute;
  width: 66.6666666667%;
  background-color: green;
  opacity: 0;
}
#search {
  margin: 0 !important;
  height: 2rem;
}
.coverUp{
  position: absolute !important;
  height: 200px !important;
  width: 100% !important;
  background-color: green !important;
}
.collection-item:hover {
  cursor: pointer !important;
}
.selected {
  background-color: orange !important;
}
#commentText {
  height: 80px !important;
}
.editTime {
  background-color: grey !important;
  color: white !important;
}
#start, #stop {
  height: 40px !important;
  margin: 0 !important;
}
#start:hover, #stop:hover{
  cursor: pointer !important;
}
.smallBtn{
  line-height: 40px !important;
  height: 40px !important;
}
.controlsBtn {
  line-height: 80px !important;
  height: 80px !important;
}
.bottomFixed {
  bottom: 0 !important;
  left: 0;
  width: 100%;
}
#highlightsList {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.fullHeight {
  height: 100% !important;
}

.flexBox {
  display: flex;
  flex-direction: column;
}
.flexBoxBottom {
  flex: 1 0 auto !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.row, .col {
  padding: 0 !important;
}

li:hover, tr:hover {
  cursor: pointer;
}
