/* Your styles here */
html, body {
  height: 100%;
  overflow: hidden !important;
}
td, th {
  padding: 0 !important;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse !important;
  table-layout: fixed !important;
}
#newBtn {
  position: absolute;
  bottom: 16px !important;
}
.fixed-action-btn ul {
  left: auto !important;
}
.card-title, #editTitle {
  font-size: 34px !important;
  line-height: 40px !important;
}
#links {
    background-color: #546e7a !important;
}
#highlightsList {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: calc(100% - 96px - 75px) !important;
  position: absolute !important;
  top: 75px !important;
  width: 33.3333333% !important;
}
.projectsItem:hover {
  cursor: pointer !important;
}
.projectsItem {
  margin: 5px !important;
  background-color: #546e7a !important;
}
#profile {
border-bottom: 1px solid orange !important;
}
#projectsCollection {
  padding: 10px !important;
  margin-top: 0 !important;
}
#searchProj{
  margin: 0 !important;
  border: none !important;
  height: 78px !important;
  font-size: 28px !important;
}
#searchProjects{
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: none !important;
  height: 78px !important;
  font-size: 24px !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 3px 3px -2px rgba(0,0,0,0.2);
}
#highlightsSearch{
  position: absolute !important;
  top: 0px !important;
}
#highSearch{
  margin: 0 !important;
  padding: 10px !important;
  height: 75px !important;
  font-size: 24px !important;
}
#pic {
  height: 100% !important;
  background-color: orange !important;
}
#name {
  height: 100% !important;
  background-color: blue !important;
}
#set {
  height: 100% !important;
  background-color: green !important;
}
#grid {
  height: 100% !important;
}
.projOwner {
  text-transform: none !important;
}
#left {
  height: 100% !important;
  background-color: grey !important;
}
#right {
  height: 100% !important;
}
#leftTop {
  height: 10% !important;
  background-color: white !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#leftBot {
  height: 100px !important;
  bottom: 0 !important;
  background-color: orange !important;
}
#rightTop {
  height: 10% !important;
  background-color: grey !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.noMargin {
  border: none !important;
}
.menuItem {
  border: none !important;
  font-size: 24px !important;
}
.menuItem:hover {
  background-color: orange !important;
  color: white !important;
}
#searchField {
  margin: 0 !important;
}

#drawer>div:nth-child(2){
  width: auto !important;
  top: 78px !important;
  height: auto !important;
  right: 15px !important;
  padding: 20px !important;
}
#btnMenu {
  z-index: 2000 !important;
  position: fixed !important;
  top: 15px !important;
  right: 15px !important;
  background-color: #546e7a !important;
  height: 50px !important;
  width: 60px !important;
  padding: 0px !important;
  padding-top: 7px !important;
}
.searchedMenu {
  width: 800px !important;
}
.focusedSearch {
  position: fixed !important;
  width: 700px !important;
  right: 95px !important;
}
.projects {
  border-bottom:  1px solid #546e7a !important;
}
.card-title{
  height: 60px !important;
}
.addingLink {
  margin-top: 50px !important;
}
.ctrl {
  font-size: 3rem !important;
}
.link {
  border-bottom:  1px solid orange !important;
  background-color: #546e7a !important;

}
#editTitle {
  width: 80% !important;
}
.editLinks {
  border-bottom:  1px solid orange !important;
  background-color: #546e7a !important;
}
.links {
  border: none !important;
}
#loadVideo{
  position: absolute;
  background-color: white;
  opacity: 0.9;
  z-index: 1000;
  padding-left: 45%;
  width: 100%;
  height: 100%;
}
#controls {
  position: absolute !important;
  bottom: 0 !important;
  width: 66.6666666667% !important;
}
#editorEdit{
  position: absolute !important;
  bottom: 0 !important;
  width: 33.33333333% !important;
}
.projBtn {
  line-height: 56px !important;
  height: 56px !important;
  margin-left: 5px !important;
}
.editProj {
  line-height: 56px !important;
}
.create {
  margin-top: 20px !important;
}
.addLink {
  margin-top: 8px !important;
}
.collection {
  margin: 0 !important;
  border: none !important;
}
#searchBar {
  width: 50%;
  margin: 0 !important;
  font-size: 1.5rem !important;
}
.col4 {
  word-wrap: break-word !important;
  width: 60% !important;
}
.col1 {
  width: 5% !important;
}
.col2, .col3 {
  width: 12.5% !important;
  overflow: hidden !important;
}
.col6 {
  width: 10% !important;
}
.infoCardFoot {
  position: absolute !important;
  bottom: 0px !important;
  width: 100% !important;
}
.infoCard {
  margin: 0 !important;
  position: fixed !important;
  height: 100% !important;
  width: 33.3333334% !important;
}
.videoBox {
  position: absolute;
  width: 66.6666666667%;
  display: none;
  height: calc(100% - 96px) !important;
}
iframe {
  height: 100% !important;
}
#cover {
  position: absolute;
  width: 66.6666666667%;
  background-color: green;
  opacity: 0;
  z-index: 1000;
}
#search {
  margin: 0 !important;
  height: 2rem;
}

.collection-item:hover {
  cursor: pointer !important;
}
.selected {
  background-color: orange !important;
  color: white !important;
  border: none !important;
}
#commentText {
  height: 96px !important;
}
.editTime {
  background-color: orange !important;
  color: white !important;
}
#start, #stop {
  height: 48px !important;
  margin: 0 !important;
  line-height: 48px !important;
  padding-left: 5px !important;
}
#start:hover, #stop:hover{
  cursor: pointer !important;
}
.smallBtn{
  line-height: 48px !important;
  height: 48px !important;
  background-color: #546e7a !important;
}
.controlsBtn {
  border-radius: 0 !important;
  line-height: 97px !important;
  height: 97px !important;
  background-color: #546e7a !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.row, .col {
  padding: 0 !important;
}

li:hover, tr:hover {
  cursor: pointer;
}
